@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
/* ? Root */
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #fff7f1;
  --drop-shadow: drop-shadow(0 50px 20px #0009);
}

.container {
  width: 90rem;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.header__title {
  font-size: 4rem;
}
.header__icon {
  position: relative;
}
.header__icon__img {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
}
.header__icon span {
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: red;
  color: var(--white-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -8px;
}
.list_product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.list_product__item {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 20px;
}
.list_product__img {
  width: 90%;
  filter: var(--drop-shadow);
}
.list_product__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0;
}
.list_product__price {
  display: block;
  font-size: 2rem;
  letter-spacing: 4px;
  /* margin-bottom: 2rem; */
}
.list_product__btn {
  background-color: #353432;
  color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  margin: 2rem 0 1rem 0;
}
.list_product__btn:hover {
  background-color: transparent;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}
